# BrowserList Configuration File.
# Author: Mohamed Kherroubi (@manlikeemkay).
# Last Modified: 30/04/2020.
# List of browsers covered by this configuration can be found at http://browserl.ist/?q=defaults.

defaults
