# .gitignore Configuration File.
# Author: Mohamed Kherroubi (@manlikeemkay).
# Last Modified: 30/04/2020.
# Modified from a file created by https://www.gitignore.io/apinode,macos,angular,visualstudiocode.

### Angular ###
.idea/
.sass-cache/
app/**/*.js
app/**/*.js.map
connect.lock/
coverage/
dist/
e2e/*.js
e2e/*.map
libpeerconnection.log/
node_modules/
npm-debug.log
testem.log
tmp/
typings/

### macOS ###
._*
.apdisk
.AppleDB
.AppleDesktop
.AppleDouble
.com.apple.timemachine.donotpresent
.DocumentRevisions-V100
.DS_Store
.fseventsd
.LSOverride
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
Icon
Network Trash Folder
Temporary Items

### Node ###
.grunt
.npm
*.log
*.pid
*.pid.lock
logs
node_modules/
npm-debug.log*

### Visual Studio Code ###
.history
.vscode/*

### Custom ###
*.zip
