.about-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 66vh;
    @include breakpoint(small only) {
        padding-bottom: 75px;
    }
    > .row {
        p:last-child {
            margin-bottom: 0;
        }
        a {
            display: inline-block;
            padding-top: 33px;
        }
        img {
            width: auto;
            height: 40px;
            &[src$="aws.svg"] {
                width: 95px;
                height: auto;
            }
        }
    }
}
