$black: #000000;
$white: #ffffff;
$almond-dark: #ad7237;
$almond-darker: #8a5b2c;
$almond-darkest: #634120;
$almond-light: #dcb792;
$almond-lighter: #efdecd;
$almond-lightest: #f9f0e8;
$almond: #c48647;
$blue-dark: #1773ce;
$blue-darker: #1a5d9e;
$blue-darkest: #02305d;
$blue-light: #65b2ff;
$blue-lighter: #b3d9ff;
$blue-lightest: #ecf5ff;
$blue: #409eff;
$brown-dark: #6b534c;
$brown-darker: #54413b;
$brown-darkest: #3d2f2b;
$brown-light: #c8b7b2;
$brown-lighter: #e9e2e0;
$brown-lightest: #fff9f7;
$brown: #8d6d64;
$gray-dark: #566e7e;
$gray-darker: #465966;
$gray-darkest: #36454f;
$gray-light: #b7c4cd;
$gray-lighter: #e4e8eb;
$gray-lightest: #eef1f5;
$gray: #668295;
$green-dark: #39ab39;
$green-darker: #2f8d2f;
$green-darkest: #206120;
$green-light: #89e089;
$green-lighter: #dcf3dc;
$green-lightest: #eaf8ea;
$green: #49c249;
$indigo-dark: #3f33bd;
$indigo-darker: #332a99;
$indigo-darkest: #272075;
$indigo-light: #837ae6;
$indigo-lighter: #c2bdf6;
$indigo-lightest: #f0eeff;
$indigo: #5a4fcf;
$mint-dark: #23c67e;
$mint-darker: #1da569;
$mint-darkest: #136b44;
$mint-light: #89eabf;
$mint-lighter: #dcf9ec;
$mint-lightest: #f2fcf7;
$mint: #35db92;
$orange-dark: #e77400;
$orange-darker: #c06000;
$orange-darkest: #854300;
$orange-light: #ffb872;
$orange-lighter: #ffe0c0;
$orange-lightest: #fff3e7;
$orange: #ff8710;
$pear-dark: #9eac18;
$pear-darker: #7f8a13;
$pear-darkest: #4f560c;
$pear-light: #dde965;
$pear-lighter: #f4f8cc;
$pear-lightest: #fbfdee;
$pear: #becf1d;
$pink-dark: #c9366c;
$pink-darker: #930036;
$pink-darkest: #580020;
$pink-light: #f58eb4;
$pink-lighter: #ffcddf;
$pink-lightest: #ffebf2;
$pink: #f06597;
$purple-dark: #840dce;
$purple-darker: #600a97;
$purple-darkest: #3d065f;
$purple-light: #cc88f7;
$purple-lighter: #e9cbfc;
$purple-lightest: #f9f0fe;
$purple: #aa38f2;
$red-dark: #cc191f;
$red-darker: #a9151a;
$red-darkest: #750e12;
$red-light: #ed6d72;
$red-lighter: #f8c5c7;
$red-lightest: #fce8e8;
$red: #e7393f;
$slategray-dark: #2f5070;
$slategray-darker: #102c45;
$slategray-darkest: #05192d;
$slategray-light: #96b1cb;
$slategray-lighter: #d0dce7;
$slategray-lightest: #f2f5f7;
$slategray: #517495;
$teal-dark: #378e99;
$teal-darker: #2d747d;
$teal-darkest: #225960;
$teal-light: #95d1d9;
$teal-lighter: #ddf0f3;
$teal-lightest: #edf9fa;
$teal: #42a9b6;
$wine-dark: #8e3a44;
$wine-darker: #722f37;
$wine-darkest: #481e23;
$wine-light: #d2939a;
$wine-lighter: #efd8db;
$wine-lightest: #faf3f4;
$wine: #aa4652;
$yellow-dark: #ddb104;
$yellow-darker: #b79303;
$yellow-darkest: #6a5502;
$yellow-light: #fde482;
$yellow-lighter: #fef0bc;
$yellow-lightest: #fef7db;
$yellow: #facb0e;
