$blue-nights: #353b48;
$blueberry-soda: #7f8fa6;
$chain-gang-grey: #718093;
$download-progress: #4cd137;
$electromagnetic: #2f3640;
$harley-davidson-orange: #c23616;
$hint-of-pensive: #dcdde1;
$lynx-white: #f5f6fa;
$matt-purple: #8c7ae6;
$mazarine-blue: #273c75;
$nanohanacha-gold: #e1b12c;
$nasturcian-flower: #e84118;
$naval: #40739e;
$periwinkle: #9c88ff;
$pico-void: #192a56;
$protoss-pylon: #00a8ff;
$rise-n-shine: #fbc531;
$seabrook: #487eb0;
$skirret-green: #44bd32;
$vanadyl-blue: #0097e6;
