.landing {
    background-image: url("/dist/images/background.svg");
    background-position: 33% 0;
    background-size: auto 85%;
    background-repeat: no-repeat;

    @include breakpoint(xlarge up) {
        background-position: center;
        background-size: auto 100%;
    }
    > .row:first-child {
        min-height: calc(100vh - 32px);
        .column {
            text-align: center;

            @include breakpoint(medium up) {
                align-self: center;
            }

            &:first-child {
                margin-bottom: 15px;

                @include breakpoint(small only) {
                    align-self: flex-end;
                }
                @include breakpoint(xlarge up) {
                    text-align: left;
                }

                h1, p {
                    margin-bottom: 0;
                }
                h4 {
                    color: $blue;
                }
            }
            &:last-child {
                @include breakpoint(xlarge up) {
                    text-align: right;
                }
                img {
                    margin-bottom: 15px;
                    height: 189px;
                    filter: grayscale(100%);
                    transition: all 500ms linear;

                    &:hover {
                        filter: grayscale(0%);
                    }
                    @media(hover: hover) and (pointer: coarse) {
                        filter: grayscale(0%);
                    }
                }
            }
        }
    }
    img[src$=".svg"] {
        width: auto;
        height: 32px;
    }
}
