html {
    scroll-behavior: smooth;
}
.landing {
    > .row:first-child {
        min-height: calc(100vh - 32px);
        .column {
            text-align: center;

            @include breakpoint(medium up) {
                align-self: center;
            }

            &:first-child {
                margin-bottom: 15px;

                @include breakpoint(small only) {
                    align-self: flex-end;
                }
                @include breakpoint(xlarge up) {
                    text-align: left;
                }

                h1, p {
                    margin-bottom: 0;
                }
                h4 {
                    color: $blue;
                }
            }
            &:last-child {
                @include breakpoint(xlarge up) {
                    text-align: right;
                }
                img {
                    margin-bottom: 15px;
                    height: 189px;
                }
            }
        }
    }
    img[src$=".svg"] {
        width: auto;
        height: 32px;
    }
}
.technologies {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    > .row {
        &:first-child {
            p {
                margin-bottom: 0;
            }
        }
        a {
            display: block;
            padding-top: 50px;
        }
        img {
            width: auto;
            height: 64px;
            &[src$="aws.svg"] {
                width: 95px;
                height: auto;
            }
        }
    }
}
.projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    h4 {
        margin-bottom: 25px;
    }
    .project {
        margin-bottom: 15px;
        padding: 15px;

        @include breakpoint(medium down) {
            text-align: center;
        }
        @include breakpoint(large up) {
            margin-bottom: 25px;
            min-height: 175px;
        }
        &:last-child {
            p {
                display: inline-block;
                margin-top: 0;
                margin-bottom: 15px;
            }
            img[src$="flask.svg"] {
                margin-bottom: 15px;
            }
        }
        a {
            display: block;
            color: $blue-light;
            font-weight: bold;
            &:hover p {
                text-decoration: underline;
            }
            p {
                display: inline-block;
                margin-top: 0;
                margin-bottom: 0;
            }
        }
        img {
            display: inline-block;
            margin-right: 10px;
            height: 25px;
            vertical-align: bottom;
        }
        h5 {
            display: inline;
        }
        > p {
            margin-top: 15px;
            margin-bottom: 15px;

            &:last-child {
                margin-bottom: 15px;
            }
        }
    }
}
.workflow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    .row {
        text-align: center;
        img {
            margin-top: 15px;
            max-height: 64px;
            width: auto;
        }
    }
}
.social {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    .row {
        min-height: 33vh;
        img {
            width: auto;
            height: 64px;
            &[src$="gmail.svg"] {
                width: 75px;
                height: auto;
                vertical-align: text-top;
            }
        }
    }
}
.footer {
    padding-top: 75px;
    img {
        height: 18px;
    }
}
