.landing {
    > div:first-child {
        min-height: calc(100vh - 41px);
        h1, h5 {
            margin-bottom: 0;
        }
        h2 {
            color: $blue;
        }
        img {
            margin-bottom: 15px;
            height: 189px;
        }
    }
}
.technologies {
    min-height: 33vh;
    > div:first-child {
        min-height: 33vh;
        p {
            margin-bottom: 0;
        }
    }
}
.projects {
    padding-top: 40px;
    padding-bottom: 40px;
    min-height: 100vh;
    h4 {
        margin-bottom: 25px;
    }
}
.workflow {
    padding-top: 40px;
    padding-bottom: 40px;
    min-height: 33vh;
    .row {
        min-height: 33vh;
        text-align: center;
        img {
            margin-top: 15px;
            height: 64px;
            &:nth-child(odd) {
                margin-right: 10px;
                margin-left: 10px;
                height: 24px;
            }
        }
    }
}
.social {
    min-height: 25vh;
}
.footer {
    min-height: 10vh;
}
