.landing {
    > div:first-child {
        min-height: calc(100vh - 32px);
        h1, h5 {
            margin-bottom: 0;
        }
        h2 {
            color: $blue;
        }
        img {
            margin-bottom: 15px;
            height: 189px;
        }
    }
    img[src$=".svg"] {
        width: auto;
        height: 32px;
    }
}
.technologies {
    padding-top: 75px;
    padding-bottom: 75px;
    // min-height: 33vh;
    background-color: $gray-darker;
    > div:first-child {
        // min-height: 33vh;
        p {
            margin-bottom: 0;
        }
    }
}
.projects {
    padding-top: 75px;
    padding-bottom: 75px;
    // min-height: 50vh;
    background-color: $gray-light;
    h4 {
        margin-bottom: 25px;
    }
}
.workflow {
    padding-top: 75px;
    padding-bottom: 75px;
    // min-height: 33vh;
    background-color: $gray-darkest;
    .row {
        // min-height: 33vh;
        text-align: center;
        img {
            margin-top: 15px;
            height: 64px;
            &:nth-child(odd) {
                margin-right: 10px;
                margin-left: 10px;
                height: 24px;
            }
        }
    }
}
.social {
    padding-top: 75px;
    padding-bottom: 75px;
    // min-height: 50vh;
    .row {
        // min-height: 50vh;
    }
}
.footer {
    padding-top: 75px;
    padding-bottom: 75px;
    background-color: $indigo-darkest;
}
