.social {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 50vh;
    .row {
        a {
            display: block;
        }
        img {
            height: 125px;
            &[src$="gmail.svg"] {
                vertical-align: text-top;
            }
        }
    }
}
