.workflow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    overflow: hidden;
    .row {
        text-align: center;
        &:nth-child(2) {
            overflow-x: hidden;
            width: 100vw;
            height: 600px;
            .bubbles {
                position: relative;
            }
            .bubble {
                position: absolute;
                width: 152px;
                height: 152px;
                border-radius: 50%;
                background-color: $slategray-darker;
                background-position: center;
                background-size: 50%;
                background-repeat: no-repeat;
                box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1),
                    0 3px 10px rgba(0, 0, 0, 0.1);

                &:nth-child(1) {
                    background-image: url("/images/aws.svg");
                }
                &:nth-child(2) {
                    background-image: url("/images/apple.svg");
                }
                &:nth-child(3) {
                    background-image: url("/images/atlassian.svg");
                }
                &:nth-child(4) {
                    background-image: url("/images/autoprefixer.svg");
                }
                &:nth-child(5) {
                    background-image: url("/images/babel.svg");
                }
                &:nth-child(6) {
                    background-image: url("/images/pa11y.svg");
                    background-size: auto 50%;
                }
                &:nth-child(7) {
                    background-image: url("/images/cucumber.svg");
                }
                &:nth-child(8) {
                    background-image: url("/images/foundation.svg");
                }
                &:nth-child(9) {
                    background-image: url("/images/git.svg");
                }
                &:nth-child(10) {
                    background-image: url("/images/prettier.svg");
                }
                &:nth-child(11) {
                    background-image: url("/images/markdown.svg");
                }
                &:nth-child(12) {
                    background-image: url("/images/npm.svg");
                    background-size: 75% auto;
                }
                &:nth-child(13) {
                    background-image: url("/images/gulp.svg");
                    background-size: auto 75%;
                }
                &:nth-child(14) {
                    background-image: url("/images/postman.svg");
                }
                &:nth-child(15) {
                    background-image: url("/images/chrome.svg");
                    background-size: 75%;
                }
                &:nth-child(16) {
                    background-image: url("/images/tower.svg");
                }
                &:nth-child(17) {
                    background-image: url("/images/visual-studio-code.svg");
                }
                &:nth-child(18) {
                    background-image: url("/images/adobe-illustrator.svg");
                }
                &:nth-child(19) {
                    background-image: url("/images/adobe-photoshop.svg");
                }
                &:nth-child(20) {
                    background-image: url("/images/sketch.svg");
                }
            }
        }
    }
}
